# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Test files
coverage
test
*.spec.ts
*.test.ts

# Documentation
docs
README.md
CHANGELOG.md
LICENSE

# Misc
.eslintcache
.prettierignore
*.log
