# APP CONFIGURATION
HTTP_PORT=3000
NODE_ENV=development

# DATABASE CONFIGURATION
DATABASE_URL=postgresql://user:password@host:port/database
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# BETTER AUTH CONFIG
BASE_URL=http://localhost:3000
TRUSTED_ORIGINS=http://localhost:3000
BETTER_AUTH_SECRET=better_auth_secret_key
INTERNAL_SECRET=internal_secret_key_1234567890
INTERNAL_HEADER_NAME=x-internal-secret

# SEEDING CONFIG
SEED_ADMIN_EMAIL=root@example.com
SEED_ADMIN_USERNAME=root
SEED_ADMIN_PASSWORD=admin